button {
  cursor: pointer;
  font-family: "Merienda", cursive;
}
.button {
  background-color: transparent;
  border: none;
  color: wheat;
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;

  &__logo {
    left: 31px;
    z-index: 1000;
    position: fixed;
    top: 20px;
  }
  &__menu {
    right: 31px;
    z-index: 1000;
    position: fixed;
    top: 20px;
    &--back {
      top: 15px;
      position: fixed;
      right: -70px;
      color: rgb(220, 64, 66);
    }
    &--list {
      transition: 0.5s;
      padding: 9px;
      margin: 12px;
      border-radius: 3px;
      letter-spacing: 4px;
      &:hover {
        background-color: #dc4042;
        box-shadow: 0 0 10px #dc4142;
      }
    }
  }
  &__collection {
    width: 128px;
    height: 45px;
    font-size: 2rem;
    z-index: 1000;
    background-color: #dc4042;
    box-shadow: 0 0 20px #dc4142;
  }

  &__parallex {
    position: absolute;
    color: #ffce72;
    font-size: 3rem;
    justify-self: right;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    outline: none;
    background-color: #330f0f52;
    cursor: pointer;
    border: 2px solid;
    backdrop-filter: blur(6px);
    margin-top: 40px;
    margin-right: 15px;
    grid-row: 2/3;

    &--down {
      align-self: end;
    }
  }
  &__sidebar {
    position: fixed;
    left: 0;
    top: 50vh;
    z-index: 1000;
    color: white;
    display: flex;
    width: 41px;
    height: 40px;
    background-color: black;
    box-shadow: 0px 5px 9px black;
    span {
      font-size: 4rem;
    }
  }
  &__cart {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    background-color: transparent;
    font-size: 2rem;
    &-plus {
      width: 44px;
      height: 23px;
      background-color: green;
    }
    &-minus {
      width: 44px;
      height: 23px;
      background-color: crimson;
    }
  }
  &__paginition {
    color: black;
    border-radius: 4px;
    border: none;
    background-color: #ca7900;
    font-size: 3rem;
    filter: drop-shadow(2px 4px 6px black);
  }
  &__addToCart {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 30px;
    width: 100px;
  }
  &__showMe {
    width: 90px;
    height: 30px;
    font-size: 1.5rem;
  }
}
