.section3 {
  grid-row: 2/3;
  grid-column: 1/2;
  position: relative;
  grid-template-columns: 1fr 1fr;

  // &__img {
  //   position: absolute;
  //   height: 100%;
  //   right: 0;
  //   grid-column: 1/2;
  //   transform: translateY(-469px);
  // }
  // .text__container {
  //   grid-column: 2/3;
  // }
}
