.section0 {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #070c0cde;

  &__diamond {
    grid-row: 2/3;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    &--liquid {
      position: absolute;
      top: 0vh;
      height: 100vh;
      fill: none;
      stroke-width: 0.264583px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-opacity: 1;
      path {
        filter: drop-shadow(-29px -6px 0px #fdabab);
      }
      &-2 {
        transform: rotateY(180deg);
      }
      &-3 {
        position: absolute;
        height: 100%;
        width: 8px;
        background-color: #eb5658;
        top: -104vh;
        filter: drop-shadow(2px 4px 12px #fdabab);
        border-radius: 16px;
      }
    }
    &--svg {
      width: 80px;
      z-index: 1;
      &-path {
        fill: #070c0c;
      }
    }
    .name {
      font-family: "Great Vibes", cursive;
      h1 {
        color: #fdabab;
      }
      margin-top: 9rem;
      @include respond(phone) {
        margin-top: 0rem;
      }
    }
  }
  &__text {
    font-size: 3rem;
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 30px;
  }
}
